.container {
    text-align: center;
    padding: 2rem;
    min-height: 100vh;
    width: 100vw;
    /* Ensures full viewport width */
    margin: 0;
    /* Removes default body margin */
    box-sizing: border-box;
    /* Includes padding in width calculation */
    background: linear-gradient(90deg, rgba(0, 183, 168, 1) 0%, rgba(54, 79, 144, 1) 100%);
    ;
}

.title {
    font-size: 2.5rem;
    color: #000000;
    margin-bottom: 0.5rem;
}

.subtitle {
    font-size: 1.2rem;
    color: #000000;
    margin-bottom: 2rem;
}


/* Add this to reset default HTML/body margins */

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
    /* Prevents horizontal scroll */
}